h1 { color: #dc143c;

	font-family:courier;



}
h2 { color:#7cfc00;
font-family:arial;
}

h3 { color:#00FFFF;
font-family:serif;

}
h4 { color:#ff69b4;
	font-family:courier;

}

h5 { color:#d2691e;
	font-family:arial;
}
body{background-color: #ffff00;

}
h6 { color:#778899;
	font-family:serif;
}

p {color: #a52a2a;
	font-family:courier;
}















